{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-6">{{"consortium"|trans}}</h1>
</div>

<div class="padding-20 text-justify">

  <p>
  Corr-Proust est le projet-phare du Consortium Proust21 pour les humanités numériques et les études littéraires, qui réunit
    <ul>
      <li>l’Université de l’Illinois à Urbana-Champaign (États-Unis),</li>
      <li>l’Institut des textes et manuscrits modernes (Centre national de la recherche scientifique/École normale supérieure, Paris),</li>
      <li>l’UMR Litt&Arts (Centre national de la recherche scientifique/Université Grenoble Alpes)</li>
    </ul>
  </p>

  <p>
  Créé en 2017, le Consortium Proust21 a pour mission l’avancée de la recherche proustienne et littéraire au xxie siècle et à l’ère numérique, ainsi que sa diffusion à un large public.
  </p>

  <p>
  L’<a href="https://illinois.edu/">Université de l’Illinois à Urbana-Champaign</a> est un foyer de recherche proustienne aux États-Unis depuis les années 1940, grâce au travail de Philip Kolb (1907-1992), éditeur historique de la correspondance de Marcel Proust. Constitué en 1993, le <a href="https://www.library.illinois.edu/rbx/kolbproust/fr/centre/">Centre de Recherche Kolb-Proust</a> mène des projets d’enrichissement et de numérisation de ressources touchant à Proust et son époque. La <a href="https://www.library.illinois.edu/rbx/">Rare Book & Manuscript Library</a> de l’université abrite le plus grand fonds de lettres de Marcel Proust au monde : plus de 1200 lettres, auxquelles s’ajoutent régulièrement de nouvelles acquisitions.
  </p>

  <p>
  L’<a href="http://www.item.ens.fr">Institut des textes et manuscrits modernes</a> étudie notamment la genèse de la production littéraire et intellectuelle à travers les traces laissées par les écrivains dans leurs manuscrits de travail. L’<a href="http://www.item.ens.fr/proust/">équipe « Proust » de l’ITEM</a> est engagée dans <a href="http://www.item.ens.fr/edition-des-cahiers/">l’édition diplomatique et critique</a> des cahiers de brouillon de « Contre Sainte-Beuve » et d’<i>À la recherche du temps perdu</i> conservés à la Bibliothèque nationale de France (Brepols et BnF). Elle publie régulièrement dans sa revue annuelle, le <a href="http://www.item.ens.fr/bip/"><i>Bulletin d’informations proustiennes</i></a>, des inédits de Marcel Proust, issus en particulier de la correspondance.
  </p>

  <p>
  L’<a href="https://www.univ-grenoble-alpes.fr/">Université Grenoble Alpes</a> est l’une des premières en France à avoir développé des programmes de recherche en Humanités numériques consacrés à l’édition, enrichie et accessible en ligne, de manuscrits et archives littéraires. « <a href="http://stendhal.msh-alpes.fr/manuscrits/">Manuscrits de Stendhal</a> », projet pionnier lancé en 2006, a établi des protocoles qui, ensuite adaptés aux spécificités des documents épistolaires du Projet Corr-Proust, ont constitué la base numérique du projet éditorial. L’<a href="http://litt-arts.univ-grenoble-alpes.fr/">UMR Litt&Arts</a>, avec son équipe d’ingénieurs « <a href="https://elan.hypotheses.org/">ELAN</a> », possède une expertise reconnue et développe de nombreux projets numériques ainsi qu’une recherche théorique en ce domaine (axe 1, « <a href="http://litt-arts.univ-grenoble-alpes.fr/fr/presentation/axes-de-recherche/nouvelles-philologies-et-humanites-numeriques-62777.kjsp?RH=LITTEARTS">Nouvelles philologies et humanités numériques</a> »).
  </p>

</div>
{% endblock %}
