{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">{{"contact"|trans}}</h1>
  </div>

  <div class="padding-20 text-justify">
    <p>Pour contacter l'équipe éditoriale :
      <mark>CorrProust [at] gmail [dot] com</mark>
    </p>
    <p>Pour signaler un problème technique sur le site :
      <mark>litt-et-arts-elan [at] univ-grenoble-alpes [dot] fr</mark>
    </p>
  </div>
{% endblock %}
