{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">{{"honor"|trans}}</h1>
  </div>

  <div class="padding-20 text-justify">
    <p>
      <ul>
        <li>Professor Katherine Kolb †</li>
        <li>Professor Jocelyne Kolb (Smith College)</li>
      </ul>
    </p>

    <p>
      <ul>
        <li>Mme le Professeur Mariolina Bongiovanni Bertini (Università degli Studi di Parma, membre correspondant de l’Accademia delle Scienze de Turin)</li>
        <li>Mme le Professeur Annick Bouillaguet (Université Paris-Est Marne-la-Vallée)</li>
        <li>Mme Florence Callu (Conservatrice honoraire, Bibliothèque nationale de France)</li>
        <li>Professor William C. Carter (University of Alabama at Birmingham)</li>
        <li>M. le Professeur Antoine Compagnon (Collège de France)</li>
        <li>Mme le Professeur Elyane Dezon-Jones (Washington University in St. Louis)</li>
        <li>M. Guillaume Fau, chef du service des manuscrits modernes et contemporains à la Bibliothèque nationale de France, responsable du fonds Marcel Proust</li>
        <li>M. le Professeur Luc Fraisse (Université de Strasbourg, Institut universitaire de France)
        </li>
        <li>Mme Almuth Grésillon, Directrice de recherche honoraire au CNRS (ITEM/ENS)</li>
        <li>Mme le Professeur Anne Herschberg Pierrot (Université Paris 8)</li>
        <li>M. le Professeur Thomas Lebarbé (Université Grenoble Alpes, Coordinateur national du Consortium CAHIER)</li>
        <li>Professor Christie McDonald (Harvard University)</li>
        <li>M. le Professeur Jean Milly (Université Sorbonne-Nouvelle)</li>
        <li>M. le Professeur Reiner Speck (Président de la Marcel Proust Gesellschaft)</li>
        <li>M. le Professeur Jean-Yves Tadié (Université Paris-Sorbonne)</li>
        <li>M. le Professeur Kazuyoshi Yoshikawa (Université de Kyoto)
        </li>
      </ul>
    </p>

  </div>
{% endblock %}
