{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">{{"supports_menu"|trans}}</h1>
  </div>

  <div class="padding-20 text-justify">
    Le projet Corr-Proust a bénéficié du soutien financier et technique des mécènes et organismes suivants&nbsp;:
    <ul>
      <li>Ambassade de France aux États-Unis, Services culturels (Centres d’excellence)</li>
      <li>Consortium CAHIER</li>
      <li>Fondation des Treilles</li>
      <li>Joan et William Dutton (Chicago, Illinois)</li>
      <li>Litt&Arts (UMR 5316, Université Grenoble Alpes / CNRS)</li>
      <li>Très Grande Infrastructure de Recherche Huma-Num</li>
      <li>University of Illinois at Urbana-Champaign, Campus Research Board</li>
    </ul>
    <div>
      <img class="mr-3" alt="logo Huma-Num" height="92px" src="{{ asset("bundles/app/img/humanum.png") }}"/>
      <img alt="logo French Embassy" height="92px" src="{{ asset("bundles/app/img/french_embassy.png") }}"/>
    </div>
  </div>
{% endblock %}
