{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div role="alert" class="alert alert-{{ label }} alert-dismissible ">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endfor %}
