{% set logos =[
  {'text': 'University of Illinois at Urbana-Champaign', 'img': 'Illinois-Logo-Full-Color-CMYK.png', 'link': 'http://illinois.edu/'},
  {'text': 'Université Grenoble Alpes', 'img': 'logo_univ_grenoble_alpes.jpg', 'link': 'https://www.univ-grenoble-alpes.fr/'},
  {'text': 'Centre national de la recherche scientifique', 'img': 'logo_cnrs.jpg', 'link': 'https://www.cnrs.fr/'},
  {'text': 'UMR Litt&Arts', 'img': 'logo_littarts.png', 'link': 'http://litt-arts.univ-grenoble-alpes.fr/'},
  {'text': 'Ecole normale supérieure', 'img': 'ens_logo.png', 'link': 'http://www.ens.fr/'},
  {'text': 'Institut des textes et des manuscrits modernes', 'img': 'officiel_v2test_coupe.png', 'link': 'http://www.item.ens.fr/'},
] %}

<div id="footer">
    <a class="pull-left" target="_blank" href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&hashtags=proust,corrproust, "><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <div class="pull-right">
      {% for logo in logos %}
      <a target="_blank" href="{{logo.link}}">
        <img alt="logo {{ logo.text }}" data-placement="top" data-trigger="hover" data-toggle="popover" height="32px" data-content="{{ logo.text }}" src="{{ asset("bundles/app/img/" ~ logo.img) }}"/>
      </a>
      {% endfor %}
    </div>
</div>
<!-- PHD FTW -->
