 {# LOCALE MODALE #}
<div class="modal fade" id="localeModal" tabindex="-1" role="dialog" aria-labelledby="localeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="localeModalLabel">{{ "change_language"|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        {% set locales = ["en", "fr"] %}
        {% for locale in locales %}
        <a data-locale="{{ locale }}" style="text-decoration: none" class="btn btn-light locale-select" href="#">
           {{ locale | upper }}
        </a>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "close"|trans }}</button>
      </div>
    </div>
  </div>
</div>
