<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color:#b7ae9d">
  <a class="navbar-brand" href="{{ path("homepage") }}">
  <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
    {{ "corrproust" | trans }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'letters'|trans}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('letter_all')}}">
            <i class="fa fa-list" aria-hidden="true"></i>
            {{ "letter_from_all"|trans }}
          </a>
          {% if logged %}
          <a class="dropdown-item" href="{{ path("favorites")}}">
            <i class="fa fa-star" aria-hidden="true"></i> {{"my_favorites" | trans }}
          </a>
          {% endif %}
          <a class="dropdown-item" href="{{ path('letter_random') }}">
            <i class="fa fa-random" aria-hidden="true"></i> {{ "random_letter" | trans }}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{path('access_quick')}}">
            <i class="fa fa-road" aria-hidden="true"></i> {{"access_letters"|trans}}
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{"presentation"|trans}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('presentation', {page:'project'})}}">{{"project"|trans}}</a>
          <a class="dropdown-item" href="{{path('presentation', {page:'team'})}}">{{"team"|trans}}</a>
          <a class="dropdown-item" href="{{path('presentation', {page:'politic'})}}">{{"editorial_policy"|trans}}</a>
          <a class="dropdown-item" href="{{path('presentation', {page:'technic'})}}">{{"technical"|trans}}</a>
          <a class="dropdown-item" href="{{path('presentation', {page:'themes'})}}">{{"themes"|trans}}</a>
          <a class="dropdown-item" href="{{path('presentation', {page:'updates'})}}">{{"updates"|trans}}</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{"guides"|trans}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('guide', {page:'signs'})}}">{{"abbrevations"|trans}}</a>
          <a class="dropdown-item" href="{{path('guide', {page:'biblio'})}}">{{"bibliography"|trans}}</a>
          <a class="dropdown-item" href="{{path('guide', {page:'use'})}}">{{"use_guide"|trans}}</a>
          <!-- <a class="dropdown-item" href="{{path('guide', {page:'biography'})}}">{{"biographical_notices"|trans}}</a> -->
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{"partners"|trans}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('partner', {page: 'consortium'})}}">{{"consortium"|trans}}</a>
          <a class="dropdown-item" href="{{path('partner', {page: 'sponsors'})}}">{{"supports_menu"|trans}}</a>
          <a class="dropdown-item" href="{{path('partner', {page: 'honor'})}}">{{"honor"|trans}}</a>
          <a class="dropdown-item" href="{{path('partner', {page: 'acknowledgments'})}}">{{"thanks"|trans}}</a>
          <a class="dropdown-item" href="{{path('partner', {page: 'contact'})}}">{{"contact"|trans}}</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{{ path("legal")}}">
          {{'legal'|trans}}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="{{ path("credits")}}">
          {{'credits'|trans}}
        </a>
      </li>

      {% if isAdmin %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-lock" aria-hidden="true"></i> {{"administration"|trans}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('upload_form') }}">
            <i class="fa fa-upload" aria-hidden="true"></i> {{ 'upload_xml' | trans }}
          </a>
          {% if isSuperAdmin %}
          <a class="dropdown-item" href="{{ path('collection_manage') }}">
            <i class="fa fa-database" aria-hidden="true"></i> {{ 'collection_manage' | trans }}
          </a>
          <a class="dropdown-item" href="{{ path('users_manage') }}">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ 'users_manage' | trans }}
          </a>
          <a class="dropdown-item" href="{{ path('persons_manage') }}">
            <i class="fa fa-users" aria-hidden="true"></i> {{ 'persons_manage' | trans }}
          </a>
          <a class="dropdown-item" href="{{ path('editorial_contents') }}">
            <i class="fa fa-paragraph" aria-hidden="true"></i> {{ 'edito_manage' | trans }}
          </a>
          {% endif %}
          <a class="dropdown-item" href="{{ path('unpublished_letters') }}">
            <i class="fa fa-eye-slash" aria-hidden="true"></i> {{ 'unpublished_letters' | trans }}
          </a>
        </div>
      </li>
      {% endif %}
    </div>
  </div>

  <ul class="nav navbar-nav pull-right">
  {% if logged %}
    <li class="nav-item active dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user"></i> {{ app.user.username }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path("preferences")}}">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          {{"preferences" | trans }}</a>
        <a class="dropdown-item" href="{{ path("favorites")}}">
          <i class="fa fa-star" aria-hidden="true"></i>
          {{"my_favorites" | trans }}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
          <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'logout' | trans }}
        </a>
      </div>
    </li>
  {% else %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ path('fos_user_security_login') }}">
        <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'login' | trans }}
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
        <i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'register' | trans }}
      </a>
    </li>
  {% endif %}
    <li class="nav-item active">
      <a class="nav-link" href="#" data-toggle="modal" data-target="#localeModal">
        <i class="fa fa-globe" aria-hidden="true"></i> {{ app.request.locale | upper }}
      </a>
    </li>
  </ul>
</nav>
