{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}
{% import "collection/macro.html.twig" as collectionMacros %}

{% block title %}
  {{ collectionMacros.displayName(collection, locale) }}
{% endblock %}

{% block body %}
  {% set title = collectionMacros.displayName(collection, locale) %}
  {% set subtitle = collectionMacros.displayDescription(collection, locale) %}

  {% include 'letter/subset.html.twig' with {'title': title} %}
{% endblock %}
