{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
    {{ "collection_edit"|trans }}
{% endblock %}

{% block body %}
  {{ m.header(collection.id ? "collection_edit"|trans : "collection_create"|trans) }}

  {{ form_start(form) }}
  <div class="row">
    <div class="col">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>
    <div class="col">
      {{ form_row(form.nameEN) }}
      {{ form_row(form.descriptionEN) }}
    </div>
  </div>

  {{form(form)}}

  {% if collection.id %}
  <div class="row">
    <div class="col text-right">
      <a href="#" class="btn btn-sm btn-danger" data-target="#deletemodal" data-toggle="modal">{{"delete_collection"|trans}}</a>
    </div>
  </div>

  <div class="modal" id="deletemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{"delete_collection"|trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{"delete_collection_text"|trans}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
          <a href="{{ path('collection_delete', {'id': collection.id}) }}" class="btn btn-danger">{{"delete_collection"|trans}}</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
