{% macro displayName(collection, locale) %}
  {% if locale != "fr"  %}
    {{collection.nameEN}}
  {% else %}
    {{collection.name}}
  {% endif %}
{% endmacro %}

{% macro displayDescription(collection, locale) %}
  {% if locale != "fr" %}
    {{collection.descriptionEN}}
  {% else %}
    {{collection.description}}
  {% endif %}
{% endmacro %}
