{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}
{% import "collection/macro.html.twig" as collectionMacros %}

{% block title %}
  {{ "collection_manage"|trans }}
{% endblock %}

{% block body %}
  {{ m.header("collection_manage"|trans) }}

  <ul class="list-group">
    <li class="list-group-item text-center">
      <a href="{{path("collection_edit")}}"><i class="fa fa-plus" aria-hidden="true"></i> {{"collection_create"|trans}}</a>
    </li>
    {% for collection in collections %}
      <li class="list-group-item" >
        <a href="{{ path("collection_edit", {'id': collection.id}) }}">
          <i class="fa fa-pencil" aria-hidden="true"></i> {{"collection_edit"|trans}}
        </a>

        {{ collectionMacros.displayName(collection, locale) }} <span class="text-muted">{{collection.letters|length}} lettre(s)</span>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
