<!-- DIPLO -->
<div class="tab-pane pane-overflow fade {{ ((pos == "left" and leftPanel == "pseudodiplo") or (pos == "right" and rightPanel == "pseudodiplo")) ? "show active" : "" }}" id="nav-diplo-{{ pos }}" role="tabpanel" aria-labelledby="nav-diplo-tab">
  <a data-pos="{{ pos }}" class="btn btn-sm btn-outline-secondary reset-styles">
    {{ "toggle_annotation"| trans }}
  </a>
  {{ letter.pseudodiplo | raw }}
</div>
