{% import _self as macros %}

<!-- FAC-SIMILE -->
<div class="tab-pane fade {{ ((pos == "left" and leftPanel == "facsimile") or (pos == "right" and rightPanel == "facsimile")) ? "show active" : "" }}" id="nav-facsimile-{{ pos }}" role="tabpanel" aria-labelledby="nav-facsimile-tab">
  {% for i, page in letter.pages %}
    <img data-pos="{{ pos }}" data-full-size="{{ macros.imageURL(page, 1600) }}"  class="thumbnail thumbnail-{{ pos }} {% if i == 0 %}currentpage{% endif %} " src="{{ macros.imageURL(page, 64) }}" height="64px"/>
  {% endfor %}

  <div class="openseadragon-buttons-{{ pos }} openseadragon-buttons text-center">
    <button id="{{ pos }}-osd-zoom-in" type="button" class="btn btn-light">
      <i class="fa fa-search-plus"></i>
    </button>
    <button id="{{ pos }}-osd-zoom-out" type="button" class="btn btn-light">
      <i class="fa fa-search-minus"></i>
    </button>
    <button id="{{ pos }}-osd-home" type="button" class="btn btn-light">
      <i class="fa fa-home"></i>
    </button>
    <button id="{{ pos }}-osd-full-page" type="button" class="btn btn-light">
      <i class="fa fa-arrows-alt"></i>
    </button>
    <button id="{{ pos }}-osd-left" type="button" class="btn btn-light">
      <i class="fa fa-undo"></i>
    </button>
    <button id="{{ pos }}-osd-right" type="button" class="btn btn-light">
      <i class="fa fa-repeat"></i>
    </button>
  </div>
  <div class="rounded seadragon-viewer" id="seadragon-viewer-{{ pos }}" data-url="{{ macros.imageURL(letter.pages[0], 1600) }}">
  </div>
</div>

{% macro imageURL(page, width) %}
  {% if page.externalURL %}
    {% set url = page.externalURL %}
  {% else %}
    {% set uuid = page.facsimilePath %}
    {% if uuid == 'pas_image.jpg' %}
      {% set url = asset('bundles/app/img/noimage.png') %}
    {% elseif uuid == 'photocopie.jpg' %}
      {% set url = asset('bundles/app/img/photocopie.png') %}
    {% else %}
      {% set url = 'https://images.digital.library.illinois.edu/iiif/2/' ~ uuid ~ '/full/'~ width ~',/0/color.jpg' %}
    {% endif %}
  {% endif %}
  {{ url }}
{% endmacro %}
