<!-- LINEARISE -->
<div class="tab-pane pane-overflow fade {{ ((pos == "left" and leftPanel == "linearized") or (pos == "right" and rightPanel == "linearized")) ? "show active" : "" }}" id="nav-linear-{{ pos }}" role="tabpanel" aria-labelledby="nav-linear-tab">
  <a data-pos="{{ pos }}" class="btn btn-sm btn-outline-secondary reset-styles">
    {{ "toggle_annotation"| trans }}
  </a>
  {{ letter.linearized | raw }}
</div>
