{% import _self as macros %}

<!-- METADATA -->
<div class="tab-pane fade {{ ((pos == "left" and leftPanel == "metadatas") or (pos == "right" and rightPanel == "metadatas")) ? "show active" : "" }}" id="nav-metadatas-{{ pos }}" role="tabpanel" aria-labelledby="nav-metadatas-tab">
  <div id="accordion-{{ pos }}" role="tablist">
    {% for metadataGroupKey, metadataGroup in letter.metadatas %}
     {{ macros.displayMetadataGroup(metadataGroupKey, metadataGroup, pos) }}
    {% endfor %}
  </div>

  <div class="alert alert-primary" role="alert">
    {% if letter.creationDate %}
      {{ "letter_online" | trans }}: {{ letter.creationDate|date("d/m/Y") }}
    {% endif %}
    -
    {% if letter.updateDate %}
      {{ "letter_update" | trans }}: {{ letter.updateDate|date("d/m/Y") }}
    {% endif %}
  </div>
</div>

{% macro displayMetadataGroup(groupName, group, pos) %}
  {% set count = 0 %}

  {% for metadataKey, metadataValue in group if metadataValue is not iterable %}
    {% if metadataValue %}
      {% set count = count + 1 %}
    {% endif %}
  {% endfor %}

  {% for metadataKey, metadataValues in group if metadataValues is iterable %}
      {% for key, metadataValue in metadataValues if metadataValue %}
        {% set count = count + 1 %}
      {% endfor %}
  {% endfor %}

  {% if count %}
  <div class="card">
    <div class="card-header" role="tab">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#metadata-{{groupName}}-{{ pos }}" role="button">
          {{groupName|trans}}
        </a>
      </h5>
    </div>
    <div id="metadata-{{groupName}}-{{ pos }}" class="collapse" role="tabpanel" data-parent="#accordion-{{ pos }}">
      <ul class="list-group list-group-flush">
        {% for metadataKey, metadataValue in group if metadataValue is not iterable %}
          {% if metadataValue %}
            <li class="list-group-item">
              <span class="text-muted">{{ metadataKey|trans }}:</span> {{ metadataValue|trans }}
            </li>
          {% endif %}
        {% endfor %}
        {% for metadataKey, metadataValues in group if metadataValues is iterable %}
        <li class="list-group-item">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark">
              {{ groupName|trans }} - {{ metadataKey +1 }}
            </li>
            {% for key, metadataValue in metadataValues %}
            <li class="list-group-item">
              {% if metadataValue %}
              <span class="text-muted">{{ key|trans }}:</span> {{ metadataValue|trans }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
{% endmacro %}
