<!-- NOTES -->
<div class="tab-pane pane-overflow fade {{ ((pos == "left" and leftPanel == "notes") or (pos == "right" and rightPanel == "notes")) ? "show active" : "" }}" id="nav-notes-{{ pos }}" role="tabpanel" aria-labelledby="nav-notes-tab">
  {{ letter.notes | raw }} 
</div>
