{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
  {{ "my_favorites"|trans }}
{% endblock %}

{% block body %}
  {{ m.header("my_favorites"|trans) }}
  {{ m.listLetters(app.user.favoriteLetters) }}
{% endblock %}
