{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
  {{ "users_manage"|trans }}
{% endblock %}

{% block body %}
  {{ m.header("users_manage"|trans) }}

  <ul class="list-group">
  {% for user in users %}
    {% set role = "" %}
    {% if "ROLE_SUPER_ADMIN" in user.roles %}
      {% set role = "ROLE_SUPER_ADMIN" %}
    {% elseif "ROLE_ADMIN" in user.roles %}
      {% set role = "ROLE_ADMIN" %}
    {% endif %}

    <li class="list-group-item">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Définir rôle
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{path('user_set_role',{'id':user.id, 'newRole':"ROLE_USER"})}}">{{"Utilisateur"|trans}}</a>
          <a class="dropdown-item" href="{{path('user_set_role',{'id':user.id, 'newRole':"ROLE_ADMIN"})}}">{{"Assistant"|trans}}</a>
          <a class="dropdown-item" href="{{path('user_set_role',{'id':user.id, 'newRole':"ROLE_SUPER_ADMIN"})}}">{{"Administrateur"|trans}}</a>
        </div>
      </div>
      {{ user.username }} <span class="badge badge-secondary">{{ role | trans }}</span>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
