{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
  {{ "preferences"|trans }}
{% endblock %}

{% block body %}
{{ m.header("preferences"|trans) }}

<div class='col-6'>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{"letter_display" | trans }}</h5>
      {{ form_start(form) }}

       <div class="form-group">
      {{ form_row(form.leftPanel) }}
      </div>

      <div class="form-group">
      {{ form_row(form.rightPanel) }}
      </div>

      {{ form_end(form) }}
    </div>
  </div>
</div>

{% endblock %}
