<div class="jumbotron">
  <h1 class="display-6">{{ "register" | trans }}</h1>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>

<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal fos_user_registration_register" autocomplete="off">
      <div class="form-group">
          <span class="form-error">{{ form_errors(form.email) }}</span>
          <label class="col-md-3 control-label required" for="fos_user_registration_form_email">
              {{ form_label(form.email) }}
          </label>
          <div class="col-6">
              <input value="{{ form.vars.value.email }}" class="form-control" id="fos_user_registration_form_email" type="email" required="required" name="fos_user_registration_form[email]">
          </div>
          <div class="col-md-offset-5">
          </div>
      </div>
      <div class="form-group">
          <span class="form-error">{{ form_errors(form.username) }}</span>
          <label class="col-md-3 control-label required" for="fos_user_registration_form_username">
              {{ form_label(form.username) }}
          </label>
          <div class="col-6">
              <input value="{{ form.vars.value.username }}" class="form-control" id="fos_user_registration_form_username" type="text" maxlength="255" required="required" name="fos_user_registration_form[username]">
          </div>
          <div class="col-md-offset-5">
          </div>
      </div>
      <div class="form-group">
          <span class="form-error">{{ form_errors(form.plainPassword.first) }}</span>
          <label class="col-md-3 control-label required" for="fos_user_registration_form_plainPassword_first">
              {{ form_label(form.plainPassword.first) }}
          </label>
          <div class="col-6">
              <input class="form-control" id="fos_user_registration_form_plainPassword_first" type="password" required="required" name="fos_user_registration_form[plainPassword][first]">
          </div>
          <div class="col-md-offset-5">
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-3 control-label required" for="fos_user_registration_form_plainPassword_second">
              {{ form_label(form.plainPassword.second) }}
          </label>
          <div class="col-6">
              <input class="form-control" id="fos_user_registration_form_plainPassword_second" type="password" required="required" name="fos_user_registration_form[plainPassword][second]">
          </div>
          <div class="col-md-offset-5">
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-3">
          <div class="g-recaptcha" data-sitekey="{{ recaptcha_publickey }}"></div>
        </label>
      </div>

      <div class="form-group">
          {{ form_widget(form._token) }}
          <div class="col-md-offset-4 col-md-8">
              <input type="submit" id="_submit" name="_submit" value="{{ 'registration_submit'|trans }}" class="btn btn-secondary"/>
          </div>
      </div>
</form>
