{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">{{"biographical_notices"|trans}}</h1>
  </div>

  <div class="padding-20 text-justify">
    {% if isSuperAdmin %}
    <a class="btn btn-sm btn-light" href="{{ path('biography_form') }}">
      <i class="fa fa-plus" aria-hidden="true"></i> {{ 'biography_add' | trans }}
    </a>
    {% endif %}
    {% for bio in bios %}
        <h3 class="edito">{{bio.title}}</h3>
        <p>
          {{bio.content | raw | nl2br}}
        </p>
        {% if isSuperAdmin %}
        <a class="btn btn-sm btn-light" href="{{path('biography_form', {id: bio.id})}}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          {{"edit"|trans}}
        </a>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}
