{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="jumbotron">
  <h1 class="display-6">{{ "password_reset" | trans }}</h1>
  <p>{{ "password_reset_text" | trans }}</p>
</div>
{% trans_default_domain 'FOSUserBundle' %}

{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}

{% endblock %}
