<div class="jumbotron">
  <h1 class="display-6">{{ "password_reset" | trans }}</h1>
  <p>{{ "password_reset_text" | trans }}</p>
</div>
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        {% if invalid_username is defined %}
            <p class="alert alert-warning">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control col-6" type="text" id="username" name="username" required="required" />
    </div>
    <div class="form-group">
        <input class="btn btn-secondary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
