{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
    {{ "person_edit"|trans }}
{% endblock %}

{% block body %}
  {{ m.header("person_edit"|trans) }}
  {{form(form)}}
{% endblock %}
