{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
  {{ "persons_manage"|trans }}
{% endblock %}

{% block body %}
  {{ m.header("persons_manage"|trans) }}

  <ul class="list-group">
  {% for person in persons %}
    <li class="list-group-item">
      <a href="{{ path("person_edit", {'id': person.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> {{"person_edit"|trans}}</a>
      {{person.name}} {{ person.displayName ? "("~person.displayName~")" }}
    </li>
  {% endfor %}
  </ul>

{% endblock %}
