<i class="float-left fa fa-user" aria-hidden="true"></i>&nbsp;
{% if json.name is defined %}
  {% if json.name is iterable %}
    {% for i, name in json.name %}
      {% if i == 0 %}
      {{ name }}
      {% else %}
      <p>{{ name }}</p>
      {% endif %}
    {% endfor %}
  {% else %}
      {{json.name}}
  {% endif %}
{% endif %}

<hr/>

<p>
  ({{ json.birthDate is defined ? json.birthDate : " ?"}} - {{json.deathDate is defined ? json.deathDate : " ?"}})
</p>

{% if json.description is defined %}
  {% if json.description is iterable %}
    {% for description in json.description %}
    <p>
      {{ description }}
    </p>
    {% endfor %}
  {% else %}
  <p>
    {{ json.description }}
  </p>
  {% endif %}
{% endif %}
