<div class="jumbotron">
  <h1 class="display-6">{{ "password_change" | trans }}</h1>
  <p>{{ "password_chnage_text" | trans }}</p>
</div>

{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
