{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-6">{{"team"|trans}}</h1>
</div>

<div class="padding-20 text-justify">
  {% import "editorial-content/macro.html.twig" as editoMacros %}
  {{ editoMacros.editorialContent("team", locale) }}
</div>
{% endblock %}
