{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-6">{{"themes"|trans}}</h1>
</div>

<div class="padding-20 text-justify">
{% import "editorial-content/macro.html.twig" as editoMacros %}
{{ editoMacros.editorialContent("themes", locale) }}
</div>
{% endblock %}
