{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">{{"create_edit_update"|trans}}</h1>
  </div>

  <div class="padding-20 text-justify">

    {% if update.id %}
    <p>
      <a class="btn btn-sm btn-light" href="{{path('update_delete', {id: update.id})}}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{"update_remove"|trans}}
      </a>
    </p>
    {% endif %}

    {{ form_start(form) }}
    <div class="form-group">
    {{ form_row(form.title) }}
    </div>
    <div class="form-group">
    {{ form_row(form.content) }}
    </div>
    <div class="form-group">
    {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}

  </div>
{% endblock %}
