{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-6">{{"updates"|trans}}</h1>
</div>

<div class="padding-20 text-justify">
  {% if isSuperAdmin %}
  <a class="btn btn-sm btn-light" href="{{ path('update_form') }}">
    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'update_add' | trans }}
  </a>
  {% endif %}
  {% for update in updates %}
      <h3 class="edito">{{update.title}}</h3>
      <p>
        {{update.content | raw | nl2br}}
      </p>
      {% if isSuperAdmin %}
      <a class="btn btn-sm btn-light" href="{{path('update_form', {id: update.id})}}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        {{"edit"|trans}}
      </a>
      {% endif %}
  {% endfor %}
</div>



{% endblock %}
