body {
  overflow-y: scroll;
  margin-bottom:64px;
}

#main-container{
  margin-top:20px;
}

#footer{
  background-color:white;
  color:#999;
  margin-top:60px;
  padding-left:10px;
  padding-top:4px;
  height:40px;
  position:fixed;
  width:100%;
  bottom:0;
  border-top:1px solid lightgrey;
}

#footer a{
  margin-right:10px;
  text-decoration: none;
}

.btn-dark{
  background-color: rgba(36, 41, 57, 0.9) !important;
  border-color: rgba(36, 41, 57, 0.9) !important;
}

.padding-20{
    padding:0px 20px;
}

.font-larger{
  font-size: larger;
}

h3.edito{
    margin-top: 40px;
    text-decoration:underline;
}

h4.edito{
  font-style: italic;
}

.jumbotron{
    padding:20px 20px;
    color:white;
    background-image: url("/bundles/app/img/Marcel_Proust_signature.white.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: rgba(36, 41, 57, 0.9);
}

.jumbotron a {
  color:#E4E8E2;
  text-shadow: none;
}

.card-link{
  white-space: nowrap;
}

.person-popover{
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: lightgrey;
  cursor: help;
}
