.openseadragon-buttons{
  margin-bottom:8px;
}

.seadragon-viewer{
  width: 100%;
  height: 800px;
  background-color:#f8f9fa;
}

.currentpage{
  border: 2px solid #585340;
}

.tab-pane {
  padding: 10px;
}

.tab-content{
  background-color:white;
}

.nav-tabs a, .nav-tabs a:hover, .nav-tabs a:focus{
    outline: 0;
}

.thumbnail {
  margin-bottom:8px;
}

.note-call:hover{
  cursor:pointer;
}

.pane-overflow {
    max-height:900px;
    overflow-y: auto;
}

dd {
  margin-bottom:15px;
}

.reset-styles{
    background-color:inherit !important;
}
