.note-call {
    text-decoration: none;
    font-size: 80%;
    font-style: normal;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 0;
    padding-right: 4px;
    padding-left: 4px;
    color: #404040;
}
.carriage_return {
    text-decoration: none;
    color: #404040;
    display: none;
}
.transcription_linearisee {
    text-align: justify;
}
.transcription_pseudodiplomatique {
    /*white-space: nowrap;*/
}
.transcription_pseudodiplomatique .type_manuscrit {
    font-style: italic;
    font-family: "Times New Roman", Georgia, serif;
    letter-spacing: .5px;
    font-size: Large;
}
.transcription_pseudodiplomatique .type_dactylographie {
    font-family: "Courier New";
}
.transcription_pseudodiplomatique .type_imprime {
    font-family: Arial, Verdana, sans-serif;
}
.transcription_pseudodiplomatique .outil_encre_noire {
    color: black;
}
.transcription_pseudodiplomatique .outil_encre_bleue {
    color: blue;
}
.transcription_pseudodiplomatique .outil_encre_rouge {
    color: red;
}
.transcription_pseudodiplomatique .outil_encre_violette {
    color: purple;
}
.transcription_pseudodiplomatique .orientation_de_bas_en_haut {
    transform: rotate(-90deg);
}
.transcription_pseudodiplomatique .orientation_tet_beche {
    transform: rotate(180deg);
}
.transcription_pseudodiplomatique .orientation_diagonale_montante {
    transform: rotate(-45deg);
}
.transcription_pseudodiplomatique .orientation_diagonale_descendante {
    transform: rotate(45deg);
}
.transcription_pseudodiplomatique .alignement_centre {
    text-align: center;
}
.transcription_pseudodiplomatique .alignement_droite {
    text-align: right;
}
.transcription_pseudodiplomatique .souligne_simple {
    text-decoration: underline;
}
.transcription_linearisee .souligne_simple {
    font-style: italic;
}
.transcription_pseudodiplomatique .souligne_double {
    text-decoration: double;
}
.transcription_linearisee .souligne_double {
    font-style: italic;
    font-variant: small-caps;
}
.transcription_pseudodiplomatique .souligne_frise {
    text-decoration: wavy;
}
.transcription_pseudodiplomatique .souligne_pointille {
    text-decoration: dotted;
}
.transcription_pseudodiplomatique .souligne_tirets {
    text-decoration: dashed;
}
.citation {
    font-style: italic;
}
.vers {
    text-indent: 4em;
}
.transcription_pseudodiplomatique .rature {
    text-decoration: line-through;
}
.transcription_linearisee .rature {
    display: none;
}
.transcription_linearisee hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.lecture_incertaine {
    color: grey;
}
.transcription_pseudodiplomatique span.surcharge {
    position: relative;
    display: inline-block;
}
.transcription_pseudodiplomatique span.surcharge > .forme {
    display: block;
    color: grey;
}
.transcription_pseudodiplomatique span.surcharge > .surcharge {
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
}
.transcription_pseudodiplomatique .ajout {
    font-size: 90%;
    display: inline-block;
    /*vertical-align:20%;*/
}
.transcription_pseudodiplomatique .plus_gros {
    font-size: 120%;
}
.transcription_pseudodiplomatique .plus_petit {
    font-size: 80%;
}
.transcription_pseudodiplomatique .blanc,
.transcription_pseudodiplomatique .alinea {
    text-indent: 4em;
}
mark.intervention_editeur,
mark { /* Ces marques permettent de répérer... */
    background-color: #faf2cc;
    color: inherit;
    padding: 0;
    border-radius: 7px;
}
