{% extends 'base.html.twig' %}

{% import _self as formMacros %}
{% import "macros.html.twig" as m %}

{% block body %}
  {{ m.header("access_search"|trans)}}

  <div class="padding-20">
    {{ form_start(form) }}
    <div class='row'>
      <div class="col">
        {{ form_row(form.search) }}
        {{ form_label(form.criterias) }}
        <a id="add-criteria" class="btn btn-sm btn-info" href="#">
            <i class="fa fa-plus" aria-hidden="true"></i> {{"add_criteria"|trans}}
        </a>
        <div class="criterias row" data-prototype="{{ formMacros.criteriaRow(form.criterias.vars.prototype)|e('html_attr') }}">
          {% for criteria in form.criterias %}
            {{ formMacros.criteriaRow(criteria) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var metadatas = JSON.parse('{{ metadatas|e('js')}}');
  </script>
  <script type="text/javascript" src="{{ asset('bundles/app/js/search-form.js')}}"></script>
{% endblock %}

{% macro criteriaRow(criteriaForm) %}
  <div class="col-6 criteria-container">
    <span class="btn btn-sm btn-danger pull-right remove-criteria">
      <i class="fa fa-trash" aria-hidden="true"></i> {{ "delete_criteria"|trans }}
    </span>
    <br/>
    {{ form_row(criteriaForm.key) }}
    {{ form_row(criteriaForm.value) }}
  </div>
{% endmacro %}
