{% extends 'base.html.twig' %}

{% block body %}
  {% set title = "search_results" |trans %}
  {% set subtitle = '' %}

  {% for criteria in criterias %}
    {% set subtitle =  subtitle ~ "<p>" %}
    {% set subtitle =  subtitle ~ criteria[0] | trans %}
    {% set subtitle =  subtitle ~ ": " %}
    {% set subtitle =  subtitle ~ criteria[1] | trans %}
    {% set subtitle =  subtitle ~ "</p>" %}
  {% endfor %}

  {% include 'letter/subset.html.twig' with {'title': title} %}
{% endblock %}
