{% extends 'base.html.twig' %}

{% import "editorial-content/macro.html.twig" as editoMacros %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">
      {{ "corrproust_website" | trans }}
    </h1>
  </div>

  <div class="padding-20 font-larger text-justify">
    {% import "editorial-content/macro.html.twig" as editoMacros %}
    {{ editoMacros.editorialContent("homepage", locale) }}
  </div>
{% endblock %}
