{% set logged = app.user is not null ? true : false %}
{% set locale = app.request.locale|split('_')[0] %}
{% set isAdmin = is_granted('ROLE_ADMIN') %}
{% set isSuperAdmin = is_granted('ROLE_SUPER_ADMIN') %}

<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}{{"corrproust" | trans}}{% endblock %}
    </title>
    {% block stylesheets %}
      {% stylesheets
        'assets/vendor/font-awesome/css/font-awesome.min.css'
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'bundles/app/css/common.css'
        'bundles/app/css/quick-access.css'
        'bundles/app/css/search.css'
        'bundles/app/css/display-letter.css'
        'bundles/app/css/transcription.css'
        'assets/vendor/jqrangeslider/css/iThing.css'
        filter='cssrewrite'
      %}
      <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  </head>
  <body>

    {% include 'baseIncludes/navbar.html.twig' %}

    <div id="main-container" class="container-fluid">
      {% include 'baseIncludes/flashes.html.twig' %}
      <div class="row">
        <div class="col-12">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

    {% include 'baseIncludes/footer.html.twig' %}

    {% include 'baseIncludes/modales.html.twig' %}

    {% block javascripts %}
    <script>
    var locale = "{{ app.request.locale }}";
    </script>

    {% javascripts
        'bundles/fosjsrouting/js/router.min.js'
        'bundles/bazingajstranslation/js/translator.min.js'
        'js/translations/config.js'
        'js/translations/*/fr.js'
        'js/translations/*/en.js'
        'assets/vendor/tether/dist/js/tether.min.js'
        'assets/vendor/jquery/dist/jquery.min.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js'
        'assets/vendor/jquery.quicksearch/dist/jquery.quicksearch.min.js'
        'bundles/app/js/main.js'
        'bundles/app/js/search.js'
         %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}
  </body>
</html>
