{% macro personPopover(person, placement) %}
  {% if person.personKey != "proust1" %}
  <span class="person-popover" data-html="true" data-trigger="hover" data-key="{{ person.personKey }}" data-toggle="popover" data-placement="{{ placement }}" data-content="">
    {{ person.displayName ? person.displayName : person.name }}
  </span>
  {% else %}
    {{ person.displayName ? person.displayName : person.name }}
  {% endif %}
{% endmacro %}

{% macro listLetters(letters) %}
  {% import _self as macros %}

  {% if letters | length > 0 %}
  <div class="row">
    <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
          <input autocomplete="off" id="search"  value="" type="text" class="form-control" placeholder="{{ "filter" | trans }}">
        </div>
    </div>
  </div>
  <br/>
  {% endif %}

  <div class="row">
    <div class="col">
      <ul class="list-group searchable">
        {% if letters | length > 0 %}
          {% set favorites = (app.user) ? app.user.favoriteLetters : null %}
          {% for letter in letters %}
            <li class="list-group-item">
              {% if favorites is not null and letter in favorites %}
                <i class="fa fa-star" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ "letter_in_favorite" | trans }}"></i> &nbsp;
              {% else %}
                  <i class="fa fa-fw" aria-hidden="true"></i>
              {% endif %}
              <a class="btn btn-dark btn-sm" href="{{ path('letter_proustid', {proustId: letter.realId}) }}">
                 CP {{letter.realId}}
              </a>
              <strong>{{ macros.personPopover(letter.sender, "top") }}</strong> {{ "to" | trans }} <strong>{{ macros.personPopover(letter.recipient, "top") }}</strong>
              - {{ macros.displayDate(letter) }}
            </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item disabled">
            {{ "no_letter_found"| trans }}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro header(text) %}
<div class="jumbotron">
  <h1 class="display-6">{{ text }}</h1>
</div>
{% endmacro %}

{% macro displayDate(letter) %}
  {#{% if letter.date %}
  {{ letter.date | localizeddate("full", "none", app.request.locale ) }}
  {% elseif letter.betweenFrom and letter.betweenTo %}
  {{ "between_dates" |trans({'%from%':letter.betweenFrom|localizeddate("long", "none", app.request.locale ), '%to%':letter.betweenTo|localizeddate("long", "none", app.request.locale )   }) }}
  {% elseif letter.betweenFrom %}
  {{ "after_date" |trans({'%from%':letter.betweenFrom|localizeddate("long", "none", app.request.locale) }) }}
  {% elseif letter.betweenTo %}
  {{ "before_date" |trans({'%to%':letter.betweenTo|localizeddate("long", "none", app.request.locale) }) }}
  {% else %}
  {{ "unknown_date" | trans }}
  {% endif %}#}
  {{ letter.metadatas.writing.writing_date_langagenat }}
{% endmacro %}
