{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
  {{ "credits"|trans }}
{% endblock %}

{% block body %}
  {{ m.header("credits"|trans) }}

<p>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /> Ce site et l’ensemble des textes qui y sont publiés (y compris le texte des lettres ou autres documents épistolaires et les notes critiques) sont proposés selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.
</p>

<p> Toute utilisation commerciale (reproduction, diffusion ou adaptation) est strictement interdite. <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr</a></p>
<p>Les images numérisées sont la propriété des institutions ou des individus qui possèdent les documents originaux : elles sont publiées sur le site Corr-Proust avec leur autorisation. Voir dans l’onglet « Informations » de chaque document la rubrique « localisation ».  La reproduction d’images appartenant à une institution est soumise aux conditions fixées par celle-ci. La reproduction d’images appartenant à des collections particulières est strictement interdite.</p>


{% endblock %}
