{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block title %}
  {{ "legal"|trans }}
{% endblock %}

{% block body %}
  {{ m.header("legal"|trans) }}

<h3>Responsable de la publication :</h3>
<div class="mb-3">
Yassine Lakhnech, président de l’Université Grenoble Alpes <br/>
UGA<br/>
CS 40700<br/>
38058 Grenoble cedex 9<br/>
presidence-universite@univ-grenoble-alpes.fr<br/>
</div>

<h3>Responsable éditorial :</h3>
<div class="mb-3">
Françoise Leriche, responsable scientifique du projet Corr-Proust<br/>
françoise.leriche@univ-grenoble-alpes.fr<br/>
</div>

<div class="mb-3">
<h3>Hébergeur :</h3>
TGIR Huma-Num - UMS 3598<br/>
54 Boulevard Raspail<br/>
75006 Paris<br/>
<a target="_blank" href="http://www.huma-num.fr">http://www.huma-num.fr</a><br/>
cogrid@huma-num.fr<br/>
</div>

<div class="mb-3">
<h3>Éditeur du site :</h3>
ELAN - UMR 5316 Litt&Arts<br/>
Université Grenoble Alpes / CNRS<br/>
CS 40700 - 38058 Grenoble cedex 9<br/>
<a target="_blank" href="http://www.elan-numerique.fr/">http://www.elan-numerique.fr/</a><br/>
litt-et-arts-elan@univ-grenoble-alpes.fr<br/>
</div>

<div class="mb-3">
<h3>Limitation de responsabilité</h3>
Malgré les soins apportés à la réalisation du site et sa mise à jour régulière, la responsabilité des éditeurs ne peut être engagée suite à d’éventuelles erreurs ou omissions dans le contenu publié.
</div>

<div class="mb-3">
<h3>Données personnelles</h3>
Conformément à Loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés modifiée notamment par la loi n°2018-493 du 20 juin 2018 relative à la protection des données personnelles ainsi qu’au règlement général sur la protection des données (RGPD)., vous disposez d’un droit d’information, d’accès, de rectification et de suppression des données nominatives vous concernant.<br/>
Vous pouvez l’exercer par mail en écrivant à ELAN : litt-et-arts-elan@univ-grenoble-alpes.fr ou au délégué à la protection des données (DPO) de l’UGA : relaisdpo@univ-grenoble-alpes.fr ou encore le DPD du CNRS à l’adresse suivante :<br/>
DPD (déléguée à la protection des données), 17, rue notre Dame des Pauvres,<br/>
54 519 VANDOEUVRE LÈS NANCY Cedex.<br/>
</div>

<div class="mb-3">
<h3>Qui est concerné ?</h3>
Les personnes disposant d’un compte utilisateur sont concernées par le traitement de données personnelles.
</div>

<div class="mb-3">
<h3>Quelles données traitons-nous ?</h3>
Les données personnelles que nous traitons sont celles complétées par l’utilisateur lors de son inscription : courriel et nom d’utilisateur.<br/>
De plus, conformément à l’Art. 6-II de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique ; décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données des journaux, nous conservons les journaux de connexion pendant une durée minimale d’un an.<br/>
</div>

<div class="mb-3">
<h3>Pendant combien de temps les conservons-nous ?</h3>
Vos données personnelles sont conservées pendant trois ans après la dernière activité du compte sur le site.<br/>
</diV>

<div class="mb-3">
<h3>Quels sont vos droits ?</h3>
Vous pouvez à tout moment, en nous contactant exercer les droits d’opposition, d’accès, de rectification, d’effacement, ainsi que le droit à une utilisation restreinte lorsque les données ne sont pas nécessaires ou ne sont plus utiles et le droit à la portabilité.<br/>
</div>
{% endblock %}
