{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">{{"edito_manage"|trans}}</h1>
  </div>

  <ul class="list-group">
  {% for content in contents %}
    <li class="list-group-item">
      <a class="btn btn-sm btn-secondary" href="{{ path('edit_content', {'id': content.id}) }}">
         {{"edit"|trans}}
      </a>
      {{content.name|trans}}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
