{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-6">{{"editorial_content_edit"|trans}}</h1>
  </div>

  <div class="padding-20 text-justify">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <div class="row">
      <div class="col">
          {{ form_row(form.contentFR) }}
      </div>
      <div class="col">
        {{ form_row(form.contentEN) }}
      </div>
    </div>
    {{ form(form) }}
  </div>
  {{ tinymce_init() }}
{% endblock %}
