{% macro editorialContent(name, locale) %}
  {% set edito = getContent(name) %}

  {% if locale != "fr" and edito.contentEN %}
    {{edito.contentEN|raw}}
  {% else %}
    {{edito.contentFR|raw}}
  {% endif %}

  {% if is_granted('ROLE_SUPER_ADMIN') %}
  <div class="text-right">
    <small>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <a href="{{ path('edit_content', {'id': edito.id}) }}">
         {{"edit"|trans}}
      </a>
    </small>
  </div>
  {% endif %}
{% endmacro %}
