{% extends 'base.html.twig' %}

{% block body %}
  {% set title = "letter_from_year" |trans({ '%year%': year}) %}
  {% set previous = year - 1 %}
  {% set next = year + 1 %}
  {% set subtitle = '
    <a style="text-decoration: none" href="'~ path("letter_year", {year: year - 1})~'">
      <button type="button"  class="btn btn-secondary btn-sm" >
        <i class="fa fa-angle-double-left"></i> '~ previous ~'
      </button>
    </a>
    <a style="text-decoration: none" href="'~ path("letter_year", {year: year + 1}) ~'">
      <button type="button" class="btn btn-secondary btn-sm" >
        '~ next ~' <i class="fa fa-angle-double-right"></i>
      </button>
    </a>
  ' %}

  {% set monthlinks = "" %}
  {% set months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"] %}
  {% for i, month in months %}
    {% set monthlinks = monthlinks ~
    '<a style="text-decoration: none" href="'~ path("letter_year_month", {year: year, month: i+1 })~'">
      <button type="button"  class="btn btn-secondary btn-sm" >
        '~ month|trans ~'
      </button>
    </a>'
    %}
  {% endfor %}

  {% include 'letter/subset.html.twig' with {'title': title, 'subtitle': subtitle, 'otherlinks': monthlinks} %}
{% endblock %}
