{% extends 'base.html.twig' %}

{% block body %}
  {% set title = "letter_from_timeframe" |trans({ '%min%': min|localizeddate("medium", "none", app.request.locale ), '%max%': max|localizeddate("medium", "none", app.request.locale )}) %}
  {% include 'letter/subset.html.twig' with {'title': title} %}
{% endblock %}
