{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}
{% import "collection/macro.html.twig" as collectionMacros %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-6">{{"access_letters"|trans}}</h1>
</div>

<div class="padding-20">
<div class="row">
  <div class="col">

    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">
          {{ "access_collection" | trans }}
        </h5>
        {% for collection in collections %}
          <a href="{{ path('collection_display', {'id': collection.id}) }}" class="card-link">
            {{ collectionMacros.displayName(collection, locale) }}
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">
          {{ "access_year" | trans }}
        </h5>
        {% for year in years %}
          <a href="{{ path('letter_year', {year: year}) }}" data-value="{{ year }}" class="card-link year">{{ year }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">
          {{ "access_range" | trans }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ "access_range_help" | trans }}</h6>
        <div id="slider"></div>
        <div id="timeframe" type="button" class="btn btn-sm btn-outline-dark pull-right">
          <i class="fa fa-filter" aria-hidden="true"></i>
          {{ "filter" | trans}}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">
          {{ "access_sender" | trans }}
        </h5>
        {% for sender in senders %}
        <a href="{{ path('letter_sender', {personId: sender.id}) }}" class="card-link">{{ m.personPopover(sender, "top") }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="card quick-access-card">
      <div class="card-body">
      <h5 class="card-title">
        {{ "access_recipient" | trans }}
      </h5>
      {% for recipient in recipients %}
      <a href="{{ path('letter_recipient', {personId: recipient.id}) }}" class="card-link">{{ m.personPopover(recipient, "top") }}</a>
      {% endfor %}
      </div>
    </div>

    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">
          {{ "access_interactant" | trans }}
        </h5>
        {% for actor in actors %}
        <a href="{{ path('letter_person', {personId: actor.id}) }}" class="card-link">{{ m.personPopover(actor, "top") }}</a>
        {% endfor %}
      </div>
    </div>

  </div>
  <div class="col">

    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">
          {{ "access_word" | trans }}
        </h5>
        <form method="POST" action="{{path('word_access')}}">
          <div class="input-group">
            <input name="word-access-input" type="text" class="form-control">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary" type="button">{{'search'|trans}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">
          {{ "access_proustid" | trans }}
        </h5>
        <form method="POST" action="{{path('proustid_access')}}">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">CP</div>
            </div>
            <input name="proust-access-input" type="text" class="form-control">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary" type="button">{{'search'|trans}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card quick-access-card">
      <div class="card-body">
        <h5 class="card-title">{{ "other" | trans }}</h5>
        <p class="card-text">
          <a href="{{ path('letter_all') }}" class="card-link">{{ "list_all_letters" | trans }}</a>
        </p>
        <p class="card-text">
          <a href="{{ path('letter_random') }}" class="card-link">{{ "random_letter" | trans }}</a>
        </p>
        <p class="card-text">
          {% if app.user %}
          <a href="#" class="card-link">{{ "letter_collection_favorites" | trans }}</a>
          {% else %}
          <s><a href="#" class="card-link">{{ "letter_collection_favorites" | trans }}</a></s> <small>({{"need_to_be_logged" | trans }})</small>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
      'assets/vendor/jquery-ui/jquery-ui.min.js'
      'assets/vendor/moment/min/moment-with-locales.min.js'

        'assets/vendor/jqrangeslider/jQRangeSliderMouseTouch.js'
        'assets/vendor/jqrangeslider/jQRangeSliderDraggable.js'
        'assets/vendor/jqrangeslider/jQRangeSlider.js'
        'assets/vendor/jqrangeslider/jQRangeSliderHandle.js'
        'assets/vendor/jqrangeslider/jQRangeSliderBar.js'
        'assets/vendor/jqrangeslider/jQRangeSliderLabel.js'
        'assets/vendor/jqrangeslider/jQDateRangeSlider.js'
        'assets/vendor/jqrangeslider/jQDateRangeSliderHandle.js'
        'assets/vendor/jqrangeslider/jQEditRangeSlider.js'
        'assets/vendor/jqrangeslider/jQEditRangeSliderLabel.js'
        'assets/vendor/jqrangeslider/jQRuler.js'
      'bundles/app/js/timeframe.js'
       %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
