{% extends 'base.html.twig' %}

{% import "macros.html.twig" as m %}

{% block body %}
  <h3>
    {% if logged %}
      {% if isAdmin %}
        {% if isSuperAdmin or letter.getPublished == false %}
          <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{"delete_letter_confirm"|trans}}">
            <a class="btn btn-light" data-toggle="modal" data-target="#deleteModale">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </span>
        {% endif %}

        {% if isSuperAdmin %}
        <a data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{ letter.getPublished ? 'unpublish_letter'|trans: 'publish_letter'|trans}}" href="{{ path("publish_toggle_letter", {proustId: letter.realId})}}" class="btn btn-light">
          <i class="fa {{ letter.getPublished ? 'fa-eye-slash': 'fa-eye'}}" aria-hidden="true"></i>
        </a>
        {% endif %}
      {% endif %}
      {% set inFavorites = letter in app.user.favoriteLetters ? true : false %}
      <a href="{{ path("favorite_letter_toggle", {id: letter.id})}}" class="btn btn-light favorite" data-letter="{{ letter.id }}" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{ inFavorites ? "unfavorite_letter"|trans : "favorite_letter"|trans}}">
        <i class="fa {{ inFavorites ? "fa-star": "fa-star-o" }}" aria-hidden="true"></i>
      </a>
    {% endif %}
    <button type="button" class="btn btn-dark">CP {{ letter.realId }}</button>
    {{ m.personPopover(letter.sender, "bottom") }} à {{ m.personPopover(letter.recipient, "bottom") }}
    &nbsp;<small class="text-muted">{{ m.displayDate(letter)}}</small>
  </h3>

  <br/>

  <div class="row">
    <div id="left-panel" class="col">
      {% include "letter/panel.html.twig" with {'pos': 'left'} %}
    </div>
    <div id="right-panel" class="col">
      {% include "letter/panel.html.twig"  with {'pos': 'right'} %}
    </div>
  </div>

  {% if letter.collections|length > 0 %}
  {% import "collection/macro.html.twig" as collectionMacros %}
  <div class="row">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        {{"is_in_collection"|trans}}:
        {% for collection in letter.collections %}
          <a href="{{ path('collection_display', {'id': collection.id }) }}">
            {{ collectionMacros.displayName(collection, locale) }}
          </a> -
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

{# NOTE MODALE #}
 <div class="modal fade" id="noteModale" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="noteModaleLabel"></h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body text-justify">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "close"|trans }}</button>
       </div>
     </div>
   </div>
 </div>

{% if isSuperAdmin or (isAdmin and letter.getPublished == false) %}
{# DELETE MODALE #}
 <div class="modal fade" id="deleteModale" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">{{"delete_letter"|trans}}</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body text-justify">
         {{"delete_letter_confirm_text"|trans}}
       </div>
       <div class="modal-footer">
         <a class="btn btn-danger" href="{{ path("delete_letter", {proustId: letter.realId})}}">{{"delete_letter_confirm"|trans}}</a>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "close"|trans }}</button>
       </div>
     </div>
   </div>
 </div>
{% endif %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
      'assets/vendor/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js'
      'bundles/app/js/display.js'
       %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
