{% set leftPanel = (app.user and app.user.leftPanel != "") ? app.user.leftPanel : "facsimile" %}
{% set rightPanel = (app.user and app.user.rightPanel != "") ? app.user.rightPanel : "pseudodiplo" %}

<nav>
  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
    <a class="nav-item nav-link {{ ((pos == "left" and leftPanel == "facsimile") or (pos == "right" and rightPanel == "facsimile")) ? "active" : "" }}" id="nav-facsimile-tab" data-toggle="tab" href="#nav-facsimile-{{ pos }}" role="tab" aria-controls="nav-facsimile" aria-selected="true">
      {{"facsimile" | trans }}
    </a>
    <a class="nav-item nav-link {{ ((pos == "left" and leftPanel == "pseudodiplo") or (pos == "right" and rightPanel == "pseudodiplo")) ? "active" : "" }}" id="nav-diplo-tab" data-toggle="tab" href="#nav-diplo-{{ pos }}" role="tab" aria-controls="nav-diplo" aria-selected="false">
      {{"pseudodiplo" | trans }}
    </a>
    <a class="nav-item nav-link {{ ((pos == "left" and leftPanel == "linearized") or (pos == "right" and rightPanel == "linearized")) ? "active" : "" }}" id="nav-linear-tab" data-toggle="tab" href="#nav-linear-{{ pos }}" role="tab" aria-controls="nav-linear" aria-selected="false">
      {{"linearized" | trans }}
    </a>
    <a class="nav-item nav-link {{ ((pos == "left" and leftPanel == "notes") or (pos == "right" and rightPanel == "notes")) ? "active" : "" }}" id="nav-notes-tab" data-toggle="tab" href="#nav-notes-{{ pos }}" role="tab" aria-controls="nav-notes" aria-selected="false">
      {{"notes" | trans }}
    </a>
    <a class="nav-item nav-link {{ ((pos == "left" and leftPanel == "metadatas") or (pos == "right" and rightPanel == "metadatas")) ? "active" : "" }}" id="nav-metadatas-tab" data-toggle="tab" href="#nav-metadatas-{{ pos }}" role="tab" aria-controls="nav-metadatas" aria-selected="false">
      {{"metadatas" | trans }}
    </a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent-{{ pos }}">

  {% include "letter/partials/facsimile.html.twig" %}

  {% include "letter/partials/diplomatic.html.twig" %}

  {% include "letter/partials/linearized.html.twig" %}

  {% include "letter/partials/notes.html.twig" %}

  {% include "letter/partials/metadatas.html.twig" %}
</div>
