{% import "macros.html.twig" as m %}
<div class="jumbotron">
  <h1 class="display-6">
    {{ title | raw }}
    {{ letters | length > 0 ? "("~ letters | length ~")" : ""}}
  </h1>
  {% if subtitle is defined %}
  <p>{{ subtitle|raw }}</p>
  {% endif %}
  {% if otherlinks is defined %}
  <p>{{ otherlinks|raw }}</p>
  {% endif %}
</div>

<div class="padding-20">
{{ m.listLetters(letters) }}
</div>
