{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form._token) }}

<div class="jumbotron">
  <h1 class="display-6">{{ 'upload_xml' | trans }}</h1>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
        {{ form_row(form.xmlFile) }}
        </div>
        <div class="form-group">
        {{ form_row(form.collections) }}
        </div>
        <div class="form-group">
          {{ form_row(form.save) }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}
