{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="jumbotron">
  <h1 class="display-6">{{ "login" | trans }}</h1>
</div>

{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_security_check') }}" class="form-horizontal" method="post" autocomplete="off">
  <fieldset>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      {% if error %}
          <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <div class="form-group">
          <label for="username" class="col-lg-2 control-label">{{ 'security.login.username'|trans }}</label>
          <div class="col-6">
              <input type="text" class="form-control" id="username" name="_username">
          </div>
      </div>

      <div class="form-group">
          <label for="password" class="col-lg-2 control-label">{{ 'security.login.password'|trans }}</label>
          <div class="col-6">
              <input type="password" class="form-control" id="password" name="_password">
          </div>
      </div>
      <!--
      <div class="form-group">
          <label class="col-lg-2 control-label" for="remember_me">Keep me logged in</label>
          <input style="margin-left:10px" type="checkbox" id="remember_me" name="_remember_me" />
      </div>
      -->

      <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
              <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-secondary"/>
              <a class="btn btn-secondary" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
          </div>
      </div>
  </fieldset>
</form>
{% endblock fos_user_content %}
